body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f3f4f6;
}

.container {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.field {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.collapsible {
    background-color: #0077A2; 
    color: white;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px; 
    transition: background-color 0.3s ease;
}

.active, .collapsible:hover {
    background-color: #005983;
}

.content {
    display: none;
    background-color: #f1f1f1;
    border-radius: 0 0 8px 8px; 
    padding: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}

#mappingsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px; 
    overflow: hidden; 
}

#mappingsTable th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
}

#mappingsTable th,
#mappingsTable td {
    padding: 8px;
    border: 1px solid #ddd;
}

#mappingsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#mappingsTable td:last-child {
    text-align: center;
}

#errorMessage {
    color: #FF0000; 
    background-color: #ffffff; 
    padding: 10px; 
    border: 1px; 
    border-radius: 5px; 
    margin-top: 10px; 
    font-weight: bold; 
    display: none;
}

